<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
  </head>
  <body>
    <h1>Sign Up</h1>
    <%- include('partials/errors') %>
    <hr />
    <form action="/user/sign-up" method="post">
      <p>
        <label>
          <span>First name: </span>
          <input type="text" name="firstName" required />
        </label>
      </p>
      <p>
        <label>
          <span>Last name: </span>
          <input type="text" name="lastName" required />
        </label>
      </p>
      <p>
        <label>
          <span>Email: </span>
          <input type="email" name="email" required />
        </label>
      </p>
      <p>
        <label>
          <span>Password: </span>
          <input type="password" name="password" required />
        </label>
      </p>
      <p>
        <label>
          <span>Confirm password: </span>
          <input type="password" name="confirmPassword" required />
        </label>
      </p>
      <button type="submit">Sign Up</button>

      <p>
        <a href="/user/sign-in">Already signed up? Sign in here</a>
      </p>
    </form>
  </body>
</html>
